/* ==========================================================================
   Components library Elements
   ========================================================================== */

/* Colors library
   -------------------------------------------------------------------------- */

.colors-library {

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 -40px 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    width: 20%;
    margin-bottom: 40px;
  }

  $colors: (
    "$color-blue-primary": $color-blue-primary,
    "$color-blue-secondary": $color-blue-secondary,
    "$color-blue-tertiary": $color-blue-tertiary,
    "$color-blue-quaternary": $color-blue-quaternary,
    "$color-blue-quinary": $color-blue-quinary,

    "$color-blue-light-primary": $color-blue-light-primary,
    "$color-blue-light-secondary": $color-blue-light-secondary,
    "$color-blue-light-tertiary": $color-blue-light-tertiary,
    "$color-blue-light-quaternary": $color-blue-light-quaternary,
    "$color-blue-light-quinary": $color-blue-light-quinary,

    "$color-blue-dark-primary": $color-blue-dark-primary,
    "$color-blue-dark-secondary": $color-blue-dark-secondary,

    "$color-gray-primary": $color-gray-primary,
    "$color-gray-secondary": $color-gray-secondary,
    "$color-gray-tertiary": $color-gray-tertiary,
    "$color-gray-quaternary": $color-gray-quaternary,

    "$color-orange-primary": $color-orange-primary,
    "$color-orange-secondary": $color-orange-secondary,
    "$color-orange-tertiary": $color-orange-tertiary,
    "$color-orange-quaternary": $color-orange-quaternary,
    "$color-orange-quinary": $color-orange-quinary,

    "$color-yellow-primary": $color-yellow-primary,
    "$color-yellow-secondary": $color-yellow-secondary,
    "$color-yellow-tertiary": $color-yellow-tertiary,
    "$color-yellow-quaternary": $color-yellow-quaternary,
    "$color-yellow-quinary": $color-yellow-quinary,

    "$color-green-primary": $color-green-primary,
    "$color-green-secondary": $color-green-secondary,
    "$color-green-tertiary": $color-green-tertiary,
    "$color-green-quaternary": $color-green-quaternary,
    "$color-green-quinary": $color-green-quinary,

    "$color-azure-primary": $color-azure-primary,
    "$color-azure-secondary": $color-azure-secondary,
    "$color-azure-tertiary": $color-azure-tertiary,
    "$color-azure-quaternary": $color-azure-quaternary,
    "$color-azure-quinary": $color-azure-quinary,

    "$color-velvet-primary": $color-velvet-primary,
    "$color-velvet-secondary": $color-velvet-secondary,
    "$color-velvet-tertiary": $color-velvet-tertiary,
    "$color-velvet-quaternary": $color-velvet-quaternary,
    "$color-velvet-quinary": $color-velvet-quinary,

    "$color-red-primary": $color-red-primary,
    "$color-red-secondary": $color-red-secondary,
    "$color-red-tertiary": $color-red-tertiary,
    "$color-red-quaternary": $color-red-quaternary,
    "$color-red-quinary": $color-red-quinary,

    "$color-white": $color-white,
    "$color-black": $color-black,
  );

  .color {
    $root: '.color';

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-weight: 500;

    &__bg {
      position: relative;
      display: block;
      width: 64px;
      height: 64px;
      margin-bottom: 40px;
      font-weight: 400;
      border: 1px solid $color-botticelli-library;
      border-radius: 50%;

      &:after {
        position: absolute;
        bottom: -22px;
        width: 100%;
        font-size: 13px;
        text-align: center;
      }
    }

    @each $key, $color in $colors {
      &[data-color="#{$key}"] {

        #{$root}__bg {
          background-color: $color;
  
          &:after {
            content: "#{$color}";
          }
        }

        &:after {
          content: "#{$key}";
        }
      }
    }
  }
}

/* Headings library
   -------------------------------------------------------------------------- */

.headings-library {

}

/* Texts library
   -------------------------------------------------------------------------- */

.texts-library {

}

/* Icons library
   -------------------------------------------------------------------------- */

.icons-library {

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -24px;

    .icon-svg {
      margin-bottom: 24px;
      margin-left: 0 !important;
    }
  }
}

/* Icon Wrap library
 -------------------------------------------------------------------------- */

.icons-wrap-library {

}

/* Marks library
 -------------------------------------------------------------------------- */

.marks-library {

  .wrap {

    > * {
      margin-left: 0 !important;
    }
  }
}

/* Buttons library
 -------------------------------------------------------------------------- */

.buttons-library {

  button {
    pointer-events: none;
  }

  .behavior {

    button {
      pointer-events: auto;
    }
  }
}

/* Tags library
   -------------------------------------------------------------------------- */

.tags-library {

}

/* Links library
   -------------------------------------------------------------------------- */

.links-library {

  a {
    margin-right: 48px;
    pointer-events: none;
  }

  .behavior {

    a {
      pointer-events: auto;
    }
  }
}

/* Notifications library
   -------------------------------------------------------------------------- */

.notifications-library {

  .link {
    margin-right: 48px;
    pointer-events: none;
  }

  .behavior {

    .link {
      pointer-events: auto;
    }
  }
}

/* Tooltips library
   -------------------------------------------------------------------------- */

.tooltips-library {

}

/* Wraps (sections) library
   -------------------------------------------------------------------------- */

.wraps-library {

  .wrap {
    display: block !important;
    width: 100%;

    &--break {
      width: 700px;
      overflow: hidden;
    }
  }

  .section-primary,
  .section-secondary {
    min-height: 100px;
  }
}

/* Wraps (sections) library
   -------------------------------------------------------------------------- */

.form-fields-library {

  .wrap {
    flex-direction: column;
    justify-content: space-between;

    > * {
      margin-bottom: 16px;
      pointer-events: none;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--line {
      flex-direction: row;

      > * {
        margin-right: 64px;
        margin-bottom: 0;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .behavior {

    .wrap {

      > * {
        pointer-events: auto;
      }
    }
  }
}

/* SidebarDrop library
   -------------------------------------------------------------------------- */

.sidebar-drop-library {

  .sidebar-drop {
    position: absolute !important;
    width: 300px;

    &[data-position="left"] {
      left: 0 !important;
    }

    &[data-position="right"] {
      right: 0 !important;
    }
  }
}
